@import "tailwindcss";

@config "../tailwind.config.ts";

@font-face {
  font-family: 'Montserrat';
  src: /* webpackIgnore: true */ url('/fonts/Montserrat-SemiBold.woff2') format("woff2"), url('/fonts/Montserrat-SemiBold.woff') format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: /* webpackIgnore: true */ url('/fonts/Inter-Regular.woff2') format("woff2"), url('/fonts/Inter-Regular.woff') format("woff");
  font-display: swap;
}

body {
  background-color: #9ec2e6;
}

.shadow-main {
  box-shadow:
    inset 10px 10px 10px rgba(255, 255, 255, 0.25),
    inset -10px -10px 10px rgba(255, 255, 255, 0.25);
}

.h1-shadow {
  display: inline-block;
  background: transparent;
  filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.4));
}

.h2-shadow {
  display: inline-block;
  background: transparent;
  filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.2));
}

.logo-shadow {
  display: inline-block;
  background: transparent;
  filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.2));
}

.shadow-input {
  box-shadow:
    inset 1px 3px 8px rgba(0, 0, 0, 0.15),
    inset -1px -3px 8px rgba(0, 0, 0, 0.15);
}
